<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="/img/weather.png">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <script src='./js/app.js'></script>
</head>
<body>
    {{>header}}
    <h2>About:</h2>
    <h3>WeatherStack API was used for this Application.</h3>
    <h3>By Entering The Location,Weather Information Will Be Provided.</h3>
    {{>footer}}
</body>
</html>